@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

.App {
  font-family: sans-serif;
  width: 50%;
  margin: 2em auto;
  border: 1px solid rgba(211, 211, 211, 0.5);
  border-radius: 20px;
  max-width: 500px;
}

.text {
  color: blue;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

.header {
  padding: 2em;
  border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}
.big-text {
  font-size: 20px;
  font-weight: 700;
}
.small-text {
  color: rgb(83, 83, 83);
}

.form {
  padding: 2em;
}

.dropdown,
.product-name,
.price,
.description {
  width: 100%;
  border: 1px solid rgba(211, 211, 211, 0.5);
  padding: 1em 3em;
  border-radius: 10px;
}
.title {
  font-weight: 700;
  color: rgb(83, 83, 83);
  margin-bottom: 10px;
}
.btn-submit {
  background-color: rgb(1, 161, 121);
  width: 100%;
  padding: 1em 0;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
}

.btn-submit:hover {
  opacity: 0.8;
}
.error {
  color: red;
  font-style: italic;
  font-weight: 700;
  font-size: 12px;
}
.gen {
  margin-bottom: 1em;
}

.relative {
  position: relative;
}
.icon {
  position: absolute;
  top: 30%;
  left: 16px;
}

.desc {
  top: 20%;
}
